<mat-card elevation="5" fxFlex class="content">
    <mat-card-title>
        <h2>Add Rating</h2>
    </mat-card-title>
    <mat-card-content>
        <p></p>
        <form>
            <div class="row">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Rate</mat-label>
                    <input matInput name="score" type="number" min="1" max="5" [(ngModel)]="ratingDTO.score">
                </mat-form-field>
                <div></div>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Comment</mat-label>
                    <textarea class="custom-input" matInput name="comment" type="text" [(ngModel)]="ratingDTO.comment"></textarea>
                </mat-form-field>
            </div>

            <button style="width: 50%;" mat-raised-button color="primary" (click)="submit()">Submit</button>
        </form>
    </mat-card-content>
</mat-card>