<mat-card fxFlex class="content">
    <mat-card-title>
        <h2>My Ratings</h2>
    </mat-card-title>
    <mat-card-content>
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="film">
                <th mat-header-cell *matHeaderCellDef class="cell"> Film </th>
                <td mat-cell *matCellDef="let rating" class="cell">{{rating.film.name}} ({{rating.film.year}})</td>
            </ng-container>
            <ng-container matColumnDef="score">
                <th mat-header-cell *matHeaderCellDef class="cell"> Score </th>
                <td mat-cell *matCellDef="let rating" class="cell">{{rating.score}}</td>
            </ng-container>
            <ng-container matColumnDef="comment">
                <th mat-header-cell *matHeaderCellDef class="cell"> Comment </th>
                <td mat-cell *matCellDef="let rating" class="cell">{{rating.comment}}</td>
            </ng-container>
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef class="cell"></th>
                <td mat-cell *matCellDef="let rating" class="cell">
                    <button class="editButton" mat-raised-button (click)="edit(rating.id)">Edit</button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>