mat-grid-list {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

mat-grid-tile {
    background-color: #04AA6D;
    color: white;
    font-size: x-large;
}

mat-grid-tile:hover {
    background-color: black;
}
mat-drawer-container {
    width: auto;
    height: 50rem;
}

.menubutton {
    text-align: left;
    width: 100%;
    font-size: large;
}