<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
      <ul class="nav navbar-nav" routerLinkActive="active">
        <li class="nav-item"><h3 style="color: white;"><b>DVDClub</b></h3></li>
        <li *ngIf="loggedUserRole === 'Admin'" class="nav-item"><a class="nav-link" routerLink="">Actors</a></li>
        <li *ngIf="loggedUserRole === 'Admin'" class="nav-item"><a class="nav-link" routerLink="">Directors</a></li>
        <li *ngIf="loggedUserRole === 'Admin'" class="nav-item"><a class="nav-link" routerLink="">FilmStudios</a></li>
        <li *ngIf="loggedUserRole === 'Admin'" class="nav-item"><a class="nav-link" routerLink="">Films</a></li>
        <li *ngIf="loggedUserRole === 'Admin'" class="nav-item"><a class="nav-link" routerLink="">Marketplaces</a></li>
        <li *ngIf="loggedUserRole === 'Admin'" class="nav-item"><a class="nav-link" routerLink="">Managers</a></li>
        <li id="nav-login"(click)="logout()">Login</li>
      </ul>
  </div>
</nav>
<div class="router-outlet">
  <router-outlet></router-outlet>
</div>