<mat-card elevation="5" fxFlex class="content">
    <mat-card-title>
        <h2>Edit News</h2>
    </mat-card-title>
    <mat-card-content>
        <p></p>
        <form>
            <div class="row">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Title</mat-label>
                        <input matInput placeholder="Enter news title" name="name" type="text" [(ngModel)]="news.title">
                    </mat-form-field>
                    <div></div>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Text</mat-label>
                        <textarea matInput placeholder="Enter news text" name="surname" type="text" [(ngModel)]="news.text"></textarea>
                    </mat-form-field>
            </div>

            <button style="width: 50%;" mat-raised-button color="primary" (click)="submit()">Submit</button>
            <button style="width: 50%;" mat-raised-button color="secondary" (click)="delete()">Delete</button>
        </form>
    </mat-card-content>
</mat-card>