<mat-card elevation="5" fxFlex class="content">
    <mat-card-title>
        <h2>Edit Special Offer</h2>
    </mat-card-title>
    <mat-card-content>
        <p></p>
        <form>
            <div class="row">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Enter special offer's name" name="name" type="text" [(ngModel)]="specialoffer.name">
                    </mat-form-field>
                    <div></div>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Price</mat-label>
                        <input matInput placeholder="Enter special offer's price" name="price" type="text" [(ngModel)]="specialoffer.price">
                    </mat-form-field>
                    <div></div>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Start Date</mat-label>
                        <input matInput type = "date" name = "startDate" [(ngModel)]="specialoffer.startDate">
                    </mat-form-field>
                    <div></div>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>End Date</mat-label>
                        <input matInput type = "date" name = "endDate" [(ngModel)]="specialoffer.endDate">
                    </mat-form-field>
            </div>

            <button style="width: 50%;" mat-raised-button color="primary" (click)="submit()">Submit</button><br><br>
            <button style="width: 50%;" mat-raised-button color="secondary" (click)="delete()">Delete</button>
        </form>
    </mat-card-content>
</mat-card>