<mat-card elevation="5" fxFlex class="content">
    <mat-card-title>
        <h2>Order Dvd</h2>
    </mat-card-title>
    <mat-card-content>
        <p></p>
        <form>
            <div class="row">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Format</mat-label>
                        <input matInput placeholder="Enter dvd's format" name="format" type="text" [(ngModel)]="dvdDTO.format">
                    </mat-form-field>
                    <div></div>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Buy Price (rsd)</mat-label>
                        <input matInput placeholder="Enter dvd's buy price" name="priceBuy" type="text" [(ngModel)]="dvdDTO.priceBuy">
                    </mat-form-field>
                    <div></div>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Rent Price (rsd)</mat-label>
                        <input matInput placeholder="Enter dvd's rent price" name="priceRent" type="number" [(ngModel)]="dvdDTO.priceRent">
                    </mat-form-field>
                    <div></div>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Film</mat-label>
                        <mat-select name="filmId" [(ngModel)]="dvdDTO.filmId" required>
                            <mat-option *ngFor="let option of films" [value]="option.id">{{option.name}} ({{option.year}})</mat-option>
                        </mat-select>
                    </mat-form-field>
            </div>

            <button style="width: 50%;" mat-raised-button color="primary" (click)="submit()">Submit</button>
        </form>
    </mat-card-content>
</mat-card>