<mat-card fxFlex class="content">
    <mat-card-title>
        <h2>Directors</h2>
    </mat-card-title>
    <mat-card-content>
        <button mat-flat-button (click)="add()">Add</button>
        <!--<form>
            <mat-label>Search parameters:</mat-label>
            <div></div>
            <mat-label>Name:</mat-label>
            <input matInput name="name" [(ngModel)]="name">
            <mat-label>Address:</mat-label>
            <input matInput name="address" [(ngModel)]="address">
            <mat-label>Min. avg. grade:</mat-label>
            <input matInput name="grade" [(ngModel)]="grade">
            <div></div>
            <button (click)="Search()">Search</button>
            <div></div>
        </form>
        <button mat-flat-button (click)="sortByName()">Sort by name</button>
        <button mat-flat-button (click)="sortByGrade()">Sort by grade</button>-->
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="cell"> Name </th>
                <td mat-cell *matCellDef="let director" class="cell">{{director.name}}</td>
            </ng-container>
            <ng-container matColumnDef="surname">
                <th mat-header-cell *matHeaderCellDef class="cell"> Surname </th>
                <td mat-cell *matCellDef="let director" class="cell">{{director.surname}}</td>
            </ng-container>
            <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef class="cell"> Age </th>
                <td mat-cell *matCellDef="let director" class="cell">{{director.age}}</td>
            </ng-container>
            <ng-container matColumnDef="country">
                <th mat-header-cell *matHeaderCellDef class="cell"> Country </th>
                <td mat-cell *matCellDef="let director" class="cell">{{director.country.name}}</td>
            </ng-container>
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef class="cell"></th>
                <td mat-cell *matCellDef="let director" class="cell">
                    <button class="editButton" mat-raised-button (click)="edit(director.id)">Edit</button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>