<mat-card elevation="5" fxFlex class="content">
    <mat-card-title>
        <h2>Manager Add</h2>
    </mat-card-title>
    <mat-card-content>
        <p></p>
        <form>
            <div class="row">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Enter your name" name="name" type="text" [(ngModel)]="userDTO.name">
                    </mat-form-field>
                    <div></div>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Surname</mat-label>
                        <input matInput placeholder="Enter your surname" name="surname" [(ngModel)]="userDTO.surname">
                    </mat-form-field>
                    <div></div>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Enter your email" name="email" [(ngModel)]="userDTO.email">
                    </mat-form-field>
                    <div></div>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Enter your password" value="" name="password" type="password" [(ngModel)]="userDTO.password">
                    </mat-form-field>
                    <div></div>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput placeholder="Confirm your password" value="" name="confirmPassword" type="password" [(ngModel)]="confirmPassword">
                    </mat-form-field>
                    <div></div>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>JMBG</mat-label>
                        <input matInput placeholder="Enter your jmbg" name="jmbg" [(ngModel)]="userDTO.jmbg">
                    </mat-form-field>
                    <div></div>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Phone</mat-label>
                        <input matInput placeholder="Enter your phone" name="phone" [(ngModel)]="userDTO.phone">
                    </mat-form-field>
                    <div></div>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Gender</mat-label>
                        <mat-select name="gender" [(ngModel)]="userDTO.gender" matNativeControl>
                            <mat-option [value]="0">Male</mat-option>
                            <mat-option [value]="1">Female</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div></div>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Type</mat-label>
                        <mat-select name="gender" [(ngModel)]="userDTO.type" matNativeControl>
                            <mat-option [value]="2">Sales Manager</mat-option>
                            <mat-option [value]="3">Marketing Manager</mat-option>
                        </mat-select>
                    </mat-form-field>
            </div>

            <button style="width: 50%;" mat-raised-button color="primary" (click)="submit()">Submit</button>
        </form>
    </mat-card-content>
</mat-card>