<mat-card fxFlex class="content">
    <mat-card-title>
        <h2>{{title}}</h2>
    </mat-card-title>
    <mat-card-content>
        <button mat-flat-button *ngIf="!isMember" (click)="membership()" style="margin-bottom: 10px;">Become a member</button><br>
        <button mat-flat-button (click)="specialOffers()">View Special Offers</button>
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="film">
                <th mat-header-cell *matHeaderCellDef class="cell"> Film </th>
                <td mat-cell *matCellDef="let dvd" class="cell" (click)="filmView(dvd.film.id)">{{dvd.film.name}} ({{dvd.film.year}})</td>
            </ng-container>
            <ng-container matColumnDef="format">
                <th mat-header-cell *matHeaderCellDef class="cell"> Format </th>
                <td mat-cell *matCellDef="let dvd" class="cell" (click)="filmView(dvd.film.id)">{{dvd.format}}</td>
            </ng-container>
            <ng-container matColumnDef="pricebuy">
                <th mat-header-cell *matHeaderCellDef class="cell"> Buy price </th>
                <td mat-cell *matCellDef="let dvd" class="cell" (click)="filmView(dvd.film.id)">{{dvd.priceBuy}} rsd</td>
            </ng-container>
            <ng-container matColumnDef="pricerent">
                <th mat-header-cell *matHeaderCellDef class="cell"> Rent price </th>
                <td mat-cell *matCellDef="let dvd" class="cell" (click)="filmView(dvd.film.id)">{{dvd.priceRent}} rsd</td>
            </ng-container>
            <ng-container matColumnDef="buy">
                <th mat-header-cell *matHeaderCellDef class="cell"></th>
                <td mat-cell *matCellDef="let dvd" class="cell">
                    <button class="editButton" mat-raised-button [disabled]="!isMember" (click)="buy(dvd.id)">Buy</button>
                    <button class="editButton" mat-raised-button [disabled]="!isMember" (click)="rent(dvd.id)" style="margin-left: 10px;">Rent</button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>